.popUpWrapper {
    height: 540px;
    width: 325px;
    box-shadow: 1px 2px 4px black;    
    position: absolute;
    right: 0px;
    top: 80px;
    z-index: 100;
    background: white;
    padding: 5px;
}


.popUpSubWrapper {
    height: 80%;
    background: white;
    overflow-y: scroll;
    width: 100%;
}

.totalWrapper {
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
}

.goCart {
    display: block;
    margin: 10px auto;
    width: 140px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
}

.goCart:hover {
    color: white;
    background-color: black;
    transition: 1s;
}